.sidebar-container {
    width: 200px; 
    background-color:bisque;
    display: flex;
    justify-content: left; 
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    border: 1px  solid black;
    position: fixed;
    top: 50px;
    left: 0px;
    flex-direction: column;
    padding-top: 0px; 
}

.text{
    color:blue; 
}